@{
    ViewData["Title"] = "Home page";
}
@model IEnumerable<Assignment.Models.Book>

<div class="slider">
    <div class="container2">
        <div class="wrapper">
            <div class="myslider">
                <div class="wrapper">
                    <div class="slide">
                        <div class="item">
                            <div class="image object-cover">
                                <img src="~/images/landingpage.png" alt="">
                            </div>
                            <div class="text-content flexcol">
                                <h3>
                                    Book Store</h3>
                                    <h2><span>Come and Get it!</span><br><span>The World of Book</span></h2>
                                    <a href="" class="primary-button">Buy Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="feature section-p1">
    <div class="fe-box">
        <img src="~/images/f1.png" alt="">
        <h6>Free Shipping</h6>
    </div>
    <div class="fe-box">
        <img src="~/images/f2.png" alt="">
        <h6>Order Online</h6>
    </div>
    <div class="fe-box">
        <img src="~/images/f3.png" alt="">
        <h6>Save Money</h6>
    </div>
    <div class="fe-box">
        <img src="~/images/f4.png" alt="">
        <h6>Promotions</h6>
    </div>
    <div class="fe-box">
        <img src="~/images/f5.png" alt="">
        <h6>Best Sell</h6>
    </div>
    <div class="fe-box">
        <img src="~/images/f6.png" alt="">
        <h6>24/7 Support</h6>
    </div>
</section>
<div class="hot-book">
    <section class="product1 section-p1">
        <h2>Featured Products</h2>
        <p>Books with high quality reviews from customers</p>
        <div class="pro-container">
            @foreach (var book in ViewBag.TopProducts)
            {
            <div class="pro">
                    <div class="wrapper-image">
                        <img src="~/images/products/@book.Image">
                    </div>
                <div class="infor">
                    <span>@book.Author</span>
                    <h5>@book.Name</h5>
                    <div class="star">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                    </div>
                    <h4>$@book.Price.ToString("0.##")</h4>
                </div>
                    <form asp-action="ViewDetail" asp-controller="Home" asp-route-id="@book.ID" method="get">
                        <button class="new-button">View Detail</button>
                    </form>
            </div>
            }   
        </div>
    </section>
</div>
<section class="banner section-m1">
    <h4>More Services</h4>
    <h2>Up to <span>70% Off</span> - All IT & Graphic books</h2>
    <button class="primary-button">Explore more</button>
</section>
<section class="product1 section-p1">
    <h2>Arrival Products</h2>
    <p>New books for you</p>
    <div class="pro-container">
        @foreach (var book in ViewBag.NewProducts)
        {
            <div class="pro">
                <div class="wrapper-image">
                <img src="~/images/products/@book.Image">
                </div>
                <div class="infor">
                    <span>@book.Author</span>
                    <h5>@book.Name</h5>
                    <div class="star">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                    </div>
                    <h4>$@book.Price.ToString("0.##")</h4>
                </div>
                <form asp-action="ViewDetail" asp-controller="Home" asp-route-id="@book.ID" method="get">
                    <button class="new-button">View Detail</button>
                </form>
            </div>
        }
    </div>

</section>
